<div class="container-lg py-6 p-responsive text-center">
  <div class="container-md f4 text-left border rounded-2 bg-white p-3 p-sm-5">
    <section id="comments">
      <div id="disqus_thread" ></div>
      <script>
      var disqus_config = function () {

      };
      (function() {
        var inIFrame = function() {
          var iframe = true;
          try { iframe = window.self !== window.top; } catch (e) {}
          return iframe;
        };
        if (inIFrame()) return;
        var d = document, s = d.createElement('script');
        s.src = '//work-life-balance.disqus.com/embed.js'; s.async = true;
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript"    >comments powered by Disqus.</a></noscript>
    </section>
  </div>
</div>
